# Project exclude paths
/.gradle/
/.idea/
/gradle/
/Topics/
/Code Sharing Platform/POST updates/
/Code Sharing Platform/Show the code/
/Code Sharing Platform/Snippets feed/
/Code Sharing Platform/Super secret snippets/
/Code Sharing Platform/Work with the database/
/Code Sharing Platform/task/build/
/Code Sharing Platform/task/out/
/Code Sharing Platform/task/test/
/Code Sharing Platform/lesson-info.yaml
